<footer>
    <p>
        <small>&copy; {{ "now"|date("Y") }} Sortir.com - Tous droits réservés.</small>
    </p>
    <p>
    <small>Gwendal Le Hyoncour & Francis Le Borgne </small>
    </p>
</footer>
