<footer style="text-align: center; padding: 20px 0; color: #777; background-color: #eee; margin-top: 40px;">
    <p>
        <small>&copy; {{ "now"|date("Y") }} Sortir.com - Tous droits réservés.</small>
    </p>
    <p>
    <small>Gwendal Le Hyoncour & Francis Le Borgne </small>
    </p>
</footer>
